Description=DHCP_renewed_leases

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=nice -18 /usr/bin/python3 /root/ddmon/dhcp_monitor.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
